.u-section-1 .u-sheet-1 {
  min-height: 610px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 490px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 321px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 13px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 13px auto 0;
  padding: 2px 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 321px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 13px auto 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 13px auto 0;
  padding: 2px 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 321px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 13px auto 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 13px auto 0;
  padding: 2px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 404px;
  }

  .u-section-1 .u-image-1 {
    height: 254px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }

  .u-section-1 .u-image-2 {
    height: 254px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
  }

  .u-section-1 .u-image-3 {
    height: 254px;
  }

  .u-section-1 .u-btn-3 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 928px;
  }

  .u-section-1 .u-image-1 {
    height: 301px;
  }

  .u-section-1 .u-image-2 {
    height: 301px;
  }

  .u-section-1 .u-image-3 {
    height: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 522px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 522px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 522px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 321px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    height: 321px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    height: 321px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
}