.u-block-e916-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e916-3 {
  position: absolute;
  left: 0;
}

.u-block-e916-4 {
  position: absolute;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 631px;
}

.u-section-1-1 .u-image-1 {
  width: 435px;
  height: 525px;
  margin: 39px auto 0 44px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  margin: -525px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 133px 276px 0 479px;
}

.u-section-1-1 .u-text-3 {
  font-weight: 700;
  margin: -244px 276px 0 479px;
}

.u-section-1-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 18px 274px 0 481px;
}

.u-section-1-1 .u-text-5 {
  margin: 209px 236px 60px 479px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-2 {
    margin-right: 176px;
    margin-left: 379px;
  }

  .u-section-1-1 .u-text-3 {
    margin-right: 176px;
    margin-left: 379px;
  }

  .u-section-1-1 .u-text-4 {
    margin-right: 174px;
    margin-left: 381px;
  }

  .u-section-1-1 .u-text-5 {
    margin-right: 136px;
    margin-left: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-2 {
    margin-right: 66px;
    margin-left: 269px;
  }

  .u-section-1-1 .u-text-3 {
    margin-right: 66px;
    margin-left: 269px;
  }

  .u-section-1-1 .u-text-4 {
    margin-right: 64px;
    margin-left: 271px;
  }

  .u-section-1-1 .u-text-5 {
    margin-right: 26px;
    margin-left: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-1-1 .u-text-3 {
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-1-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-1-1 .u-text-5 {
    margin-right: 0;
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 410px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: -410px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1-1 .u-text-5 {
    margin-left: 0;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 631px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  margin: 51px auto 0 45px;
}

.u-section-1-2 .u-image-1 {
  --radius: 10px;
  width: 94px;
  height: 94px;
  margin: 51px auto 0 45px;
}

.u-section-1-2 .u-image-2 {
  --radius: 10px;
  width: 99px;
  height: 99px;
  margin: -86px auto 0;
}

.u-section-1-2 .u-text-2 {
  font-weight: 700;
  margin: -72px auto 0 161px;
}

.u-section-1-2 .u-text-3 {
  font-weight: 700;
  margin: -14px 369px 0 auto;
}

.u-section-1-2 .u-image-3 {
  --radius: 10px;
  width: 98px;
  height: 98px;
  margin: 76px auto 0 41px;
}

.u-section-1-2 .u-text-4 {
  font-weight: 700;
  margin: -61px auto 0 161px;
}

.u-section-1-2 .u-image-4 {
  --radius: 10px;
  width: 102px;
  height: 102px;
  margin: 88px auto 0 45px;
}

.u-section-1-2 .u-text-5 {
  font-weight: 700;
  margin: -63px auto 60px 161px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-text-3 {
    margin-right: 304px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-text-3 {
    margin-right: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-text-3 {
    margin-right: 175px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-2 {
    margin-left: 101px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 110px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 101px;
  }

  .u-section-1-2 .u-text-5 {
    margin-left: 101px;
  }
}

.u-section-1-3 .u-sheet-1 {
  min-height: 631px;
}

.u-section-1-3 .u-image-1 {
  width: 435px;
  height: 525px;
  margin: 39px auto 0 44px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 700;
  margin: -525px auto 0;
}

.u-section-1-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 133px 276px 0 479px;
}

.u-section-1-3 .u-text-3 {
  font-weight: 700;
  margin: -244px 276px 0 479px;
}

.u-section-1-3 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 18px 274px 0 481px;
}

.u-section-1-3 .u-text-5 {
  margin: 209px 202px 60px 479px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-text-2 {
    margin-right: 176px;
    margin-left: 379px;
  }

  .u-section-1-3 .u-text-3 {
    margin-right: 176px;
    margin-left: 379px;
  }

  .u-section-1-3 .u-text-4 {
    margin-right: 174px;
    margin-left: 381px;
  }

  .u-section-1-3 .u-text-5 {
    margin-right: 102px;
    margin-left: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-text-2 {
    margin-right: 66px;
    margin-left: 269px;
  }

  .u-section-1-3 .u-text-3 {
    margin-right: 66px;
    margin-left: 269px;
  }

  .u-section-1-3 .u-text-4 {
    margin-right: 64px;
    margin-left: 271px;
  }

  .u-section-1-3 .u-text-5 {
    margin-right: 0;
    margin-left: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-1-3 .u-text-3 {
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-1-3 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-1-3 .u-text-5 {
    margin-left: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1-3 .u-image-1 {
    width: 340px;
    height: 410px;
    margin-left: 0;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: -410px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1-3 .u-text-5 {
    margin-left: 0;
  }
}

.u-section-1-4 .u-sheet-1 {
  min-height: 631px;
}

.u-section-1-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 54px 0 0;
}

.u-section-1-4 .u-layout-cell-1 {
  min-height: 471px;
}

.u-section-1-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-4 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 235px 0 0;
}

.u-section-1-4 .u-layout-cell-2 {
  min-height: 471px;
}

.u-section-1-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1-4 .u-form-1 {
  height: 321px;
  width: 510px;
  margin: 0;
}

.u-section-1-4 .u-btn-1 {
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-1-4 .u-text-3 {
    margin-right: 135px;
  }

  .u-section-1-4 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-1-4 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-1-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-4 .u-text-3 {
    margin-right: 25px;
  }

  .u-section-1-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-4 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-1-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1-4 .u-text-3 {
    margin-right: 0;
  }
}