.u-block-0aff-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-0aff-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-0aff-4 {
  position: absolute;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  margin: 49px auto 0 46px;
}

.u-section-1-1 .u-text-2 {
  font-weight: 400;
  margin: 9px 775px 0 46px;
}

.u-section-1-1 .u-map-1 {
  width: 1048px;
  height: 410px;
  margin: 29px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 41px;
  }

  .u-section-1-1 .u-map-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1-1 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-map-1 {
    width: 340px;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 627px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1-2 .u-table-1 {
  margin-top: 15px;
  margin-bottom: 17px;
}

.u-block-5ebd-7 {
  border-style: solid;
}

.u-block-5ebd-10 {
  height: 47px;
}

.u-section-1-2 .u-table-body-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1-2 .u-table-cell-1 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-2 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-3 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-4 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-5 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-6 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-9 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-10 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-11 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-13 {
  border-style: solid;
}

.u-section-1-2 .u-table-cell-14 {
  border-style: solid;
}

.u-block-5ebd-25 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-1-2 .u-table-1 {
    margin-top: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-table-1 {
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-table-1 {
    margin-top: 12px;
  }
}